<section class="user-detail-component">
  <button class="back-button" (click)="goBack()">
    <span class="material-symbols-outlined"> arrow_back </span
    >{{ "SEARCH.BACK_TO_SEARCH" | translate }}
  </button>

  <div class="cabecera">
    <div class="avatar">
      <img src="{{ user.avatar_url }}" />
    </div>
    <div class="user">
      {{ user.login }}
      @if (user.bio) {
        <div class="description"></div>
      }
    </div>
  </div>

  <div class="repositories-container">
    <app-repositories [userName]="user.login"></app-repositories>
  </div>
</section>
