body.light {
  background-color: #fff;
  color: #000;

  --repo-card-bg: #f5f5f5;  
  --repo-card-color: #000;
}

body.dark {
  background-color: #121212;
  color: #fff;

  --repo-card-bg: #1e1e1e;  
  --repo-card-color: #fff;
}
