<section class="search-user-component">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="image">
      <span class="material-symbols-outlined user-icon" (click)="onSearch()">person_search</span>
    </div>

    <div class="input-container">
      <input
        type="text"
        formControlName="username"
        placeholder="Buscar usuario…"
        class="user-search-input"
      />
      <button type="submit" class="search-button">Buscar</button>
    </div>

    @if (required() && searchForm.controls['username'].invalid) {
      <div class="error-message">Por favor escribe un nombre de usuario para buscar.</div>
    }
  </form>
</section>
