<section class="search-user-component">
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="image">
      <span class="material-symbols-outlined user-icon" (click)="onSearch()">
        person_search
      </span>
    </div>

    <div class="input-container">
      <input
        type="text"
        formControlName="username"
        [placeholder]="'SEARCH.PLACEHOLDER' | translate"
        class="user-search-input"
      />
      <button type="submit" class="search-button">
        {{ "SEARCH.BUTTON" | translate }}
      </button>
    </div>

    @if (
      searchForm.controls["username"].touched &&
      searchForm.controls["username"].invalid
    ) {
      <div class="error-message">
        {{ "SEARCH.ERROR" | translate }}
      </div>
    }
  </form>

  @if (
    searchUserService.toast() && searchUserService.toast()?.type !== "success"
  ) {
    <app-toast
      [message]="searchUserService.toast()?.message"
      [type]="searchUserService.toast()?.type"
    ></app-toast>
  }
</section>
